- var page = {}
- page.charset         	= 'utf-8'
- page.lang            	= 'es'
- page.static_url  	   	= '../../../'
- page.url  	   	   	= ''
- page.img_url 		   	= page.static_url + 'img/'
- page.title           	= 'Fronty'
- page.description     	= ''
- page.keywords       	= ''
- page.author         	= ''
- page.name           	= ''
- page.viewport       	= 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
- page.robots         	= 'index,follow'
- page.img            	= page.img_url + 'logo.png'
- page.favicon        	= page.img_url + 'logo.png'

- page.og             	= {}
- page.og.type        	= 'website'
- page.og.image_width 	= '60'
- page.og.image_height	= '60'
- page.og.image_type  	= 'image/jpg'
- page.og.image       	= page.img_url + 'logo.png'
