include ../_config/page
doctype
html(lang="es")
	include ../_partials/head
	include ../_mixins/mixins
	body
		include ../_layouts/l-header
		block content
		include ../_layouts/l-footer
		include ../_partials/footer_scripts
