include ../_config/page
include ../_mixins/mixins
doctype html
//-+htmlIe()
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
		include ../_partials/head
		block templates
		body
				include ../_partials/header
				// end header
				block content
				// end footer
				include ../_partials/footer
				include ../_partials/footer_scripts
