/**
* Config
* @class Config
*/

/* Paths */
$imgPath         = '../img/'
$fontPath        = '../fonts/'

/* Font family variables */
$family1Regular			= 'Arial', 'sans-serif'
$family1Bold			= 'Arial', 'sans-serif'

$basefont               = 16px

/* Used for layout debugging: if "true" displays outline in color */
$debug = false

/* Color variables */
$aniRed = #E20101


/* Layout variables */
$wrapperWidth = 960px
