@import "../patterns/**/*.scss";
@import 'breakpoint';
@import 'breakpoint-slicer';

body {

	@include at('xs') {
		background: indigo;
	}
	@include at('s') {
		background: yellow;
	}
	@include at('m') {
		background: blue;
	}
	@include at('l') {
		background: green;
	}
	@include at('xl') {
		background: white;
	}

}
