/*!!
* Layout
* @module layout
* @author Ana Reyna
*/

@require '_config/*'
@require '_mixins/*'
@require '_normalize/*'
@require '_helpers/*'

@import '_layouts/*'

h1
	margin 0
	font-size 2rem

.container
	width $wrapperWidth
	margin 0 auto

