/*!!
* Layout
* @module layout
* @author Ana Reyna
*/

@require '_config/*'


@import '_layouts/*'



.container
	width $wrapperWidth
	margin 0 auto
	
.c-coupon
	&__image
		width 100%
	&__body
		padding 1rem
		background #F3F4F8
	&__description
		border-bottom 1px dashed grey
	&__price
		color red 
	&__discount
		background white
		border-radius 2rem