extends _layout/layout.jade
//- index

block content
	.container
		p You can now start developing with:
		ul
			li
				a(href="http://coffeescript.org/", target="_blank") Coffescript
			li
				a(href="http://jade-lang.com/", target="_blank") Jade
			li
				a(href="https://learnboost.github.io/stylus/", target="_blank") Stylus 
				|  also uses 
				a(href="http://jeet.gs/", target="_blank") Jeet (Grid System)
				|  and 
				a(href="https://github.com/jenius/rupture", target="_blank") Rupture (Media queries)
			li 
				a(href="http://pleeease.io/", target="_blank") Pleeease
				|  comes with Autoprefixer, fallbacks for rem unit and CSS3 pseudo-elements, packs same media queries & more... 
			li 
				a(href="http://gulpjs.com/", target="_blank") Gulp 
				| tasks to generate sprites, optimize images, jshint, etc. See gulpfile.js at the root of this project for more information. 

		p For full documentation visit the 
			a(href="https://github.com/anareyna/fronty", target="_blank") Fronty repository.
