/**
* Forms
* @module forms
*/
form
    width 100%
    margin 30px auto 0
    text-align left
    font-size 1em
    &.vertical
        label
            display block
            float none
            line-height 1.3em
            &.ioption
                float left
                font-size 1em
                margin-left 70px
                &:first-child
                    margin 0
                &.ck
                    padding-right 20px
                    margin-bottom 1em
                    margin-top 1em


        input[type="text"],input[type="email"],input[type="tel"],input[type="password"],select
            width 100%

        textarea
            width 100%
        .btn
            margin 0
    &.nolabel
        label
            display none
            &.ioption
                display block
                font-size 1em
                line-height 18px
                margin-left 60px
                width 80px
                input[type="radio"]
                    top 4px
                &:first-child
                    margin 0
                &.ck
                    padding-right 20px
                    margin-bottom 1em
                    margin-top 1em
        input[type="text"],input[type="email"],input[type="tel"],input[type="password"],select
            width 100%
        textarea
            width 100%
        .btn
            margin 0
.form_control
    margin-bottom 0.5em
    *zoom 1
    .form_control_inline
        .form_control
            margin-bottom 0
            display inline-block
            margin-left 1em
            vertical-align top
            &.half
                width 45%
            &:first-child
                margin-left 0 !important
    &:before,&:after
        display table
        content ""
        line-height 0
    &:after
        clear both
    label
        margin 0
        float left
        font-size 1em
        line-height 35px
        width 12em
        &.nbsp:after
            content "\00a0"
        &.ioption
            cursor pointer
            line-height 35px
            padding-left 20px
            position relative
            width 11em
            input[type="radio"],input[type="checkbox"]
                left 0
                margin 0
                padding 0
                position absolute
                top 12px
            &.ck
                font-size 0.929em
                line-height 1.5em
                margin-left 12.5em
                width auto
                margin-top 1em
                margin-bottom 1em
                input[type="checkbox"]
                    top 2px
        &.required
            background url($imgPath+"bullet_red.png?version") no-repeat left 11px
            padding 0 0 0 10px
        .required
            color $colorError
            font-size 1.1em
    input[type="text"],input[type="email"],input[type="tel"],input[type="password"], select, textarea
        background-color #fff
        border 1px solid $grey40
        border-radius 3px
        font 1em/1.5em $family1
        height 30px
        line-height 30px
        outline none
        padding 0 6px
        width 300px
        &.error
            background-color #fcdddd
            border 1px solid #fc7d7d
        &.disabled
            background $grey10
            border 1px solid #ddd
    input[type="password"]
        font-family Verdana, sans-serif !important
    select
        padding 2px 6px
        height 30px
    textarea
        background-color #fff
        border 1px solid $grey40
        border-radius 3px
        font 1em/1.5em $family1
        height 70px
        padding 7px 10px
        width 300px
        &.error
            background-color #fcdddd
            border 1px solid #fc7d7d
.input_xlarge
    width 480px !important
#referencia
    &.input_xlarge
        width 250px !important
.input_mlarge
    width 398px !important
.input_slarge
    width 382px !important
.input_large
    width 250px !important
.input_medium
    width 205px !important
.input_xmedium
    width 120px !important
.input_small
    width 100px !important
.input_xsmall
    width 80px !important