// // comment out these as and when needed


// if !$debug

// 	// Highlight the structure of everything on the page, including padding and margins, to fix layout issues
// 	*
// 		outline		1px solid rgba(255,0,0,0.2)

// 	// Highlight name spaces
// 	// [class^="o-"],
// 	// [class*=" o-"],
// 	// [class^="e-"],
// 	// [class*=" e-"]
// 	// 	outline			2px solid orange !important

// 	// [class^="c-"],
// 	// [class*=" c-"]
// 	// 	outline			2px solid cyan !important

// 	// [class^="u-"],
// 	// [class*=" u-"]
// 	// 	outline			2px solid violet !important

// 	// [class^="--"],
// 	// [class*="--"]
// 	// 	outline			2px solid red !important
