//$slicer-breakpoints: 0  400px  600px  800px  1050px; // defaults
$slicer-breakpoint-names:  'xs' 's' 'm' 'l' 'xl';

/* Colors */

/* color scheme */
$brand_color : #2232c3;
$font_color : black;

/**/
$container_width : 1140px;
$imgPath       : '../img/';

/**/
$border_radius : 5px;

/* fonts */
$family1:  'Lato', 'arial', 'sans-serif';

$font_path  : '../fonts/';
