/* Colors */


$error_color : #FF0000;
$success_color : #43B77A;
$warning_color : #FCF8E3;

/* color scheme */
$brand_color : #2232c3;
$font_color : black;

/**/
$container_width : 1140px;
$imgPath       : '../img/';

/**/
$border_radius : 5px;

/* fonts */
$font_family_primary :  'Lato', 'arial', 'sans-serif';

$font_path  : '../fonts/';
