//$slicer-breakpoints: 0  400px  600px  800px  1050px; // defaults
$slicer-breakpoint-names:  'xs' 's' 'm' 'l' 'xl';

/* Colors */

/* color scheme */
$brand_color : #2232c3;
$secondary_color : tomato;
$font_color : black;

$container_width : 1140px;

$border_radius : 5px;
$transition: 0.3s all ease-in;
$input_height: 2.5rem;

$family1:  'Lato', 'arial', 'sans-serif';
$base_font: 16px;
