/*
* Buttons
* @module buttons
*/

.btn
    position       relative
    display        inline-block
    line-height    42px
    text-align     center
    border         none
    background     $yellow_01
    font-family    $family1Regular
    text-transform uppercase
    border-radius  5px
