- var page = {}
- page.charset         = 'utf-8'
- page.lang            = 'en'
- page.static_url  	   = '../../../'
- page.url  	   	   = 'http://www.anareyna.com'
- page.img_url 		   = page.static_url + 'img/'
- page.title           = 'Base by Ana Reyna'
- page.description     = 'Demo app'
- page.keywords        = 'anareyna, demo, playground'
- page.author          = 'Ana Reyna'
- page.name            = 'Base'
- page.viewport        = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
- page.robots          = 'index,follow'
- page.img             = page.img_url + 'logo.png'
- page.favicon         = page.img_url + 'logo.png'

- page.og              = {}
- page.og.type         = 'website'
- page.og.image_width  = '60'
- page.og.image_height = '60'
- page.og.image_type   = 'image/jpg'
- page.og.image        = page.img_url + 'logo.png'

- page.dc              = {}
- page.dc.contributor  = 'Ana Reyna'
- page.dc.creator      = 'Ana Reyna'
- page.dc.publisher    = 'Ana Reyna'

- page.geo             = {}
- page.geo.placename   = 'Lima'
- page.geo.position    = '-12.0478;-77.0622'
- page.geo.region      = 'PE-LIM'
- page.geo.ICBM        = '-12.0478, -77.0622'
